!!!
%html{lang: "fi"}
  %head
    %link{:href => "/css/solar.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://s.debet.fi/js/jquery-1.8.3.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.0.2/jquery.simpleWeather.min.js"}
    %script{:src => "/js/solar.js", :type => "text/javascript"}
  %body
    .weather
      %h1 AURINKOSÄÄDIN
    #weather.weather
    %hr
    %ul.weather
      %li
        energia
        %span#kwh
          ?
        kWh
      %li
        Pannu
        %span#pannu
          ?
        &deg;C
      %li
        patteri
        %span#patteri
          ?
        &deg;C
      %li
        %span#now
          ?
    %hr
    %p{style: "font-size: 12px;"} That's all folks!
