!!!
%html{lang: "fi"}
  %head
    %script{:src => "http://s.debet.fi/js/jquery-1.8.3.min.js"}
    %script{:src => "/js/solar.js", :type => "text/javascript"}
  %body
    %h1
      AURINKOSÄÄDIN
    %hr
    %p 
      Saatu energia =
      %span#tick
        ?
    %p  
      Lämpötila =
      %span#temp
        ?
      &deg;C
    %p
      aika nyt:
      %span#now
        ?
    %hr
    %p{style: "font-size: 12px;"} That's all folks!
